body{
    margin: 0px;
    padding: 2px;
}
#mainContainer{
    margin-left: 20%;
    margin-right: 20%;

    /* The CSS Below is Purely for Show */
    border: 1px solid black; 
}
.header{
    min-height: 8dvh;
    width: 100%;
    position: sticky;
    top: 0;

    /* The CSS Below is Purely for Show */
    border: 1px solid rgb(9, 255, 0);
}
.segment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: left;
    min-height: 92dvh;
    padding: 0 2em;

    /* The CSS Below is Purely for Show */
    border: 1px solid rgb(255, 0, 0); 
}